Source: nautilus-convert2ogg
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.atareao.es

Package: nautilus-convert2ogg
Architecture: all
Depends:
    python3,
    python3-gi,
    python3-nautilus,
    python3-plumbum,
    gir1.2-nautilus-3.0,
    gir1.2-gtk-3.0,
    gir1.2-gtk-3.0,
    nanecalib,
    ffmpeg
Description: An extension for Nautilus to convert sound files to ogg
 An extension for Nautilus to convert sound files to ogg from menu
